<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>Manhattan 2022 - La mejor tienda de Libros</p>
            <p> Proyecto para Coder House con el mejor profesor de la tierra</p>
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contacta con nosotros</a>
        </address>
        <ul class="nav justify-content-center social">
            <li>
                <a href="#" target="_blank"><img src="./../../../../../assets/style/img/icons/youtube.png" alt="Logotipo Youtube"></a>
            </li>
            <li>
                <a href="#" target="_blank"><img src="./../../../../../assets/style/img/icons/facebook.png" alt="Logotipo facebook"></a>
            </li>
            <li>
                <a href="#" target="_blank"><img src="./../../../../../assets/style/img/icons/logotipo-de-twitter.png" alt="Logotipo tiwitter"></a>
            </li>
        </ul>
    </div>
</footer>